<a href="https://colab.research.google.com/github/Manish2006/Corona-virus-study/blob/master/Python_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
## For Looping
## write sentence 8 times 

for string in range(3):
  print("Hello World->",string+1,(string+1)*'.')

print("-----------------------------------------------")

for string2 in range(1,8,2):
  print("Hello World->",string2+1,(string2+1)*'.')

Hello World-> 1 .
Hello World-> 2 ..
Hello World-> 3 ...
-----------------------------------------------
Hello World-> 2 ..
Hello World-> 4 ....
Hello World-> 6 ......
Hello World-> 8 ........

In [28]:
# for else looping
# print odd or even
x=89
if x%2==0:
  print("even")
else:
  print("odd") 

print("==============================================")
## break the loop when y = 3

for e in range(4):
  if e==3: 
    break
  print(e)
else:
    print("hh")

odd
==============================================
0
1
2

In [3]:
## loop over list
a=[1,2,3,4]

for b in a:

  print(b*2)

2
4
6
8

In [13]:
##Find the Number Occurring Odd Number of Times
arr = [5, 7, 2, 7, 5, 2, 5,5,7,4,5,6,7,8,9,1,2,3,4,5,6,7,8]
def gg(jjjj):
  count=0
  for h in arr:
   if (h%2 !=  0):
    count+=1
  return count

In [12]:
final=gg(arr)
print(final)

14

In [16]:
arr = [5, 7, 2, 7, 5, 2, 5,5,7,2]
def gg(jjjj):
  count=0
  for h in arr:
   if (h%2 ==  0):
    count=count+h
  return count

In [17]:
gg(arr)

6

In [3]:
## for loops
# print text 5 times using loop

for number in range(1,6):
  print("Welcome user" , number* ",")

Welcome user ,
Welcome user ,,
Welcome user ,,,
Welcome user ,,,,
Welcome user ,,,,,

In [5]:
# for else loop
succesfull= False
for n in range(2):
  print("registered")
  if succesfull:
    print("success")
    break
else:
  print("registered was not done")

registered
registered
registered was not done

In [7]:
## nested loop

names = ['Kelly', 'Jessa', 'Emma']
# outer loop
for name in names:
    # inner while loop
    count = 0
    while count < 2:
        print(name, end=' ')
        # increment counter
        count = count + 1
    print()

Kelly Kelly
Jessa Jessa
Emma Emma

In [26]:
## write even numbers
count=0
for number in range(1,10):
 
  if number %2 == 0:
    count+=1
    print(number)
    
print(f" There are {count} values ")

2
4
6
8
 There are 4 values

In [5]:
months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun']
sales = [12000, 15000, 18000, 14000, 16000, 20000]
new = months+sales
print(new[-1])

20000

Interview Questions - List

In [14]:
## Find the maximum and minimum values in a list

List1= [ 1,2,3,4,55,77,100]
min_value= min(List1)
max_value=max(List1)
print(f" min value is {min_value}")
print(f" max value is {max_value}")

 min value is 1
 max value is 100

In [19]:
## Remove duplicates from a list while preserving the order of elements.

List2= [ 1,2,2,4,3,55,77,100]
tup=set(List2)
#print(tup)
ll=list(tup)
print(ll)
print(List2)

[1, 2, 3, 4, 100, 77, 55]
[1, 2, 2, 4, 3, 55, 77, 100]

In [22]:
## Reverse a list without using any built-in functions.
list3=[2,3,1,5]
reversed_numbers = list3[::-1]

print(reversed_numbers)

[5, 1, 3, 2]

In [26]:
## Find the second largest element in a list.
hh=[3,4,5,6,100,101]
hh.sort(reverse=True)
second_highest=hh[1]
print(f"the second highest number is {second_highest}")

the secong highest number is 100

In [30]:
## Merge two sorted lists into a single sorted list
A=[1, 4, 6, 8]
B=[2, 3, 5, 7, 9]
c=A+B

c.sort(reverse=False)
print(c)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [38]:
#Determine if a list is palindrome (reads the same forwards and backwards).


qaz=[4,5,6,5,3]
ff=qaz[::-1]

if qaz == ff :
  print("True")
else:
  print("false")

false

In [90]:
#Remove all occurrences of a specific element from a list.


AA=[1,1,2,3,4,5,6,6,7,5,4]
#print(AA)
output=[2,3,4,5]

out={}
for i in AA:
  if i in out:
    out[i]+=1
  else:
    out[i]=1

print(out)
filtered_dict = {key: value for key, value in out.items() if value < 2}

final=list(filtered_dict)
print(final)

{1: 2, 2: 1, 3: 1, 4: 2, 5: 2, 6: 2, 7: 1}
[2, 3, 7]

In [100]:
#Count the frequency of elements in a list and store the results in a dictionary.


sentense = "My name is Manish Sharma"
dicty={}

for j in sentense:
  if j in dicty:
    dicty[j]+=1
  else:
      dicty[j]=1


print(sorted(dicty.items(),key=lambda gg:gg[1],reverse=True))

fin= sorted(dicty.items(),key=lambda gg:gg[1],reverse=True)
print(fin[1])

[(' ', 4), ('a', 4), ('M', 2), ('n', 2), ('m', 2), ('i', 2), ('s', 2), ('h', 2), ('y', 1), ('e', 1), ('S', 1), ('r', 1)]
('a', 4)

In [130]:
#Find the intersection of two lists (common elements).

list1 = [1, 2, 4, 6, 5]
list2 = [4, 5, 6, 7, 8]

list3=list1+list2


jit={}
for hj in list3:
  if hj in jit:
    jit[hj]+=1
  else:
    jit[hj]=1

filtered_dict = dict(filter(lambda item: item[1] > 1, jit.items()))

fij=list(filtered_dict)
print(fij)

[4, 6, 5]

In [101]:
#Rotate a list by a specified number of positions.

my_list = [1, 2, 3, 4, 5]

# Number of positions to rotate
positions = 3

# Rotate the list to the right by the specified number of positions
rotated_list = my_list[-positions:] + my_list[:-positions]
## my_list[-2:]+my_list[:-2]

# Print the rotated list
print(rotated_list)

[3, 4, 5, 1, 2]